<h2>Students Details</h2>
<div class="card text-center">
    <div class="card-header">
      Name: {{studnt.Name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Roll Number: {{studnt.RollNo}}</h5>
      <p class="card-text">Marks Scored: {{studnt.marks}}</p>
      <p class="card-text">Percentage: {{(studnt.Hindi+studnt.English+studnt.Mathematics+studnt.Science+studnt.PhE)/5}}</p>
      <table class="table table-primary card-text">
        <thead class="table-dark">
          <tr>
              <th>Subject</th>
              <th>Marks Obtained</th>
              <th>Maximum Marks</th>
          </tr>
      </thead>
      <tbody class="table-warning">
          <tr [ngClass]="changeColor(studnt.Hindi)">
              <td>Hindi</td>
              <td>{{studnt.Hindi}}</td>
              <td>100</td>
          </tr>
          <tr [ngClass]="changeColor(studnt.English)">
              <td>English</td>
              <td>{{studnt.English}}</td>
              <td>100</td>
          </tr>
          <tr [ngClass]="changeColor(studnt.Mathematics)">
              <td>Mathematics</td>
              <td>{{studnt.Mathematics}}</td>
              <td>100</td>
          </tr>
          <tr [ngClass]="changeColor(studnt.Science)">
              <td>Science</td>
              <td>{{studnt.Science}}</td>
              <td>100</td>
          </tr>
          <tr [ngClass]="changeColor(studnt.PhE)">
              <td>PhE</td>
              <td>{{studnt.PhE}}</td>
              <td>100</td>
          </tr>
      </tbody>
    </table>

      <button class="btn btn-primary" editData="studnt" (click)="editDetails(studnt.RollNo)">Edit</button>
      <button class="btn btn-danger" (click)="deleteDetails()">Delete</button>
    </div>
    <div class="card-footer text-muted">
      Overall Result: {{studnt.result}}
    </div>

    
</div>